{% extends "base.html" %}
 {% block title_html %}
  PasteBin
 {% endblock %}

 {% block load_css %}
  #container_color_1 {background-color: #ccc;}
  #color_block
  {
    padding: 0;
    margin: 0;
    display: block;
  }
 {% endblock %}

 {% block content %}
  <div class="section" id="index-banner">
    <div class="container">
      <div class='row'></div>
      <div class='row'></div>
      <div class='row'></div>
      <div class='row'></div>
    </div>
    <div class="container" id='container_color_1'>
      <div class='row'></div>
      <div class='row'></div>
      <div class='row'>
        {% if user.is_authenticated %}
          <h1 class="header center black-text">Hi {{ request.user | capfirst }}!</h1>
        {% else %}
          <h1 class="header center black-text">Hi There!</h1>
        {% endif %}
      </div>
      <div class='row'></div>
      <div class='row'></div>
      <div class="row center">
        <h5 class="header col s12 light white-text">A <a href="https://www.djangoproject.com/" style='color:#DB4437' title="https://www.djangoproject.com" target="_blank">Django</a> powered responsive web app based on Material Design</h5>
      </div>
      <div class='row'></div>
      <div class='row'></div>
      <div class="row center">
        <a style='background-color:#4285F4;' class="btn-large waves-effect waves-light btn" href='#'>ABOUT</a>
      </div>
      <div class='row'></div>
      <div class='row'></div>
    </div>
  </div>

 {% endblock %}

{% block load_js %}
{% endblock %}