{% extends "base.html" %}

{% block title_html %}
 PasteBin | Login
{% endblock %}

{% block load_css %}
{% endblock %}

{% block content %}
<div class=section>
	 <div class="container">
		{% if user.is_authenticated %}
				<h3>You are connected.</h3><br><br>
				<p>
					Username : {{ user.first_name }}<br>
					Email    : {{ user.email }}
				</p>
		{% else %}
		<div class='row'></div>
		<div class='row'></div>
		<div class='row'></div>
		<div class='row'>
			<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
		</div>
		{% endif %}
	 </div>
</div>
{% endblock %}

{% block load_js %}
{% endblock %}